<div class="jumbotron">
    <div>
       <h4>Built For:</h4>
         <div class="img_container">
           <img src="images/smart.png" alt="smart_p">
         </div>
    </div><br>
    
    <label ng-show="main.reposList">
      Filter: <input type="text" ng-model="query" placeholder="language, year etc...">
    </label>
  
    <div class="list_container">
      <ul class="center-block" id="repos_list" ng-repeat="repo in main.reposList | filter:query">
        <div class="repo_container">
          <li>
            <a ng-href="{{repo.html_url}}"> Name: {{repo.name}} </a><br> 
            <span class="glyphicon"> Description: {{repo.description}} </span><br>
            Fork: {{repo.fork}} <span class="glyphicon"> - Created: {{repo.created_at}} </span><br>
            Language: {{repo.language}} <span class="glyphicon"> - Size: {{repo.size}} </span>
          </li>
        </div>
      </ul>
    </div>
    
    <div class="row form_field">
      <h4>Type a GitHub user or organisation</h4>
        <h4>to browse public repositories:</h4>
          <div class="search_field">
            <form id="profile_form">
             Username: <input id="search_form" type="text" ng-model="main.username" name="username"><br>
             Results per page: <select id="per_page" ng-model="main.perPage" value="5" ng-options="value for value in [5, 7, 10]">
              </select>
              <input id="search_button" class="btn btn-sm btn-success" type="submit" value="Search" ng-click="main.fetchProfile(main.username, main.perPage)">
            </form>
          </div>
    </div>
   
   <div class="pagination" ng-show="main.reposList">
     <button id="previous_button" class="btn btn-md" value="Previous" ng-click="main.changePage(main.currentPage - 1)">Prev</button>
       <div class="btn btn-md">{{main.currentPage}}</div>
     <button id="next_button" class="btn btn-md" value="Next" ng-click="main.changePage(main.currentPage + 1)">Next</button>
   </div>
    
</div>
