<div class="jumbotron">
    <span> <h4>Built For:</h4> <img src="images/smart.png" alt="smart_p"></span><br>
    <label ng-show="main.reposList">
      Filter: <input type="text" ng-model="query" placeholder="language, year etc...">
    </label>
  
    <div class="list_container">
      <ul id="repos_list" ng-repeat="repo in main.reposList | filter:query">
        <a ng-href="{{repo.html_url}}"><div class="repo_container">
          <li>
            Name: {{repo.name}} <br> <span class="glyphicon"> Description: {{repo.description}} </span><br>
            Fork: {{repo.fork}} <span class="glyphicon"> - Created: {{repo.created_at}} </span><br>
            Language: {{repo.language}} <span class="glyphicon"> - Size: {{repo.size}} </span>
          </li>
        </div></a>
      </ul>
    </div>
    
    
    <div class="row form_field">
      <h4>Type a GitHub user or organisation</h4>
      <h4>to browse public repositories:</h4>
      <div class="search_field">
        <form id="profile_form">
          <input id="search_form" type="text" ng-model="main.username" name="username">
          <input id="search_button" class="btn btn-lg btn-success" type="submit" value="Search" ng-click="main.fetchProfile(main.username)">
        </form>
      </div>
   </div>
   
   <div class="pagination" ng-show="main.reposList">
     <button id="previous_button" class="btn btn-md" value="Previous" ng-click="main.changePage(main.currentPage - 1)">Prev</button>
     <div class="btn btn-md">{{main.currentPage}}</div>
     <button id="next_button" class="btn btn-md" value="Previous" ng-click="main.changePage(main.currentPage + 1)">Next</button>
   </div>
    
</div>
